<!DOCTYPE html>
<html>
  <head>
    <title>Polisher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="col-md-12 bg-light mb-5">
    <ul class="nav justify-content-center ">
      <li class="nav-item">
        <a class="nav-link active" href="/sentences/new">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentences/show">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sentences/play">Play</a>
      </li>
    </ul>
  </div>
  <div class='row'>
    <div class="col-md-1">
    &nbsp;
    </div>
    <div class="col-md-10">
      <%= yield %>
    <div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>
  

  </body>
</html>
